[Unit]
Description=Set new password
Before=ssh.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/user_password.sh

[Install]
WantedBy=multi-user.target