include /etc/nginx/includes/http-common.conf;
server {
  listen 0.0.0.0:4000;
  listen [::]:4000 default_server;
  server_tokens off;
  
  set $secure_link_secret verysecretstring;
  include /etc/nginx/includes/ds-*.conf;
}

